.BoardPrefs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: auto;
}

.BoardSizePrefs {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.DemoCells {
    height: 1em;
    width: 100%;
    display: grid;
    grid-template-rows: 1em;
    grid-template-columns: repeat(5, 1em);
    justify-content: center;
}

.BoardPrefs label {
    display: block;
    flex: 1 0 auto;
}

.BoardPrefs label input, .BoardPrefs label select {
    margin-left: 0.5em;
}

.ShufflePrefs {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


#ShufflesInput {
    width: 3em;
}

#BoardNumberInput {
    width: 6em;
}
