table {
    display: grid;
    min-width: 100%;
    grid-template-columns: 1.5fr 1fr 2fr 1fr 1fr 1fr 1fr;
}

thead, tbody, tr {
    display: contents;
}

th, td {
    overflow: auto;
    whitespace: nowrap;
}
