---
layout: default
title: Judebert.com
---

<!--
  Normally you'd expect this to be a home _layout, but 
  pagination only works in index.html files.
-->

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <div class="post-meta">
          <span class="post-date">{{ post.date | date: date_format }}</span>
          <h3 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
        </div>
        <div class="post-entry">
          <div class="entry-body">
          {%- if post.excerpt != nil and post.excerpt.size > 0 -%}
            {{ post.excerpt }}
            <p><a href="{{ post.url | relative_url }}#extended">Continue reading "{{ post.title | escape }}"</a></p>
          {%- else -%}
            {{ post.content }}
          {%- endif -%}
          </div>
          {%- if post.comments.size > 0 -%}
          <div class="entry-comments">
            <p><a href="{{ post.url | relative_url }}#comments">({{ post.comments.size }} comments)</a></p>
          </div>
          {%- endif -%}
        </div>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | append: 'index.html' }}" title="Previous page">&laquo;</a>
      {% else %}
        <span title="No previous page">&laquo;</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | append: 'index.html' }}" title="First page">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page | append: 'index.html'}}" title="Page {{ page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | append: 'index.html' }}" title="Next page">&raquo;</a>
      {% else %}
        <span title="No next page" class="next">&raquo;</span>
      {% endif %}
    </div>
  {% endif %}

</div>
