<ul id="categories-list">
  <li class="category_38">
    <a href="/progress/categories/38-Madness" title="Sound bites and full-length rants">Madness</a>
    <ul>
      <li class="category_43">
        <a href="/progress/categories/43-Lunatic-Ravings" title="Rants">Lunatic Ravings</a>
        <ul>
          <li class="category_28"><a href="/progress/categories/28-Civilization" title="">Civilization</a></li>
          <li class="category_29"><a href="/progress/categories/29-Politics" title="">Politics</a></li>
          <li class="category_30"><a href="/progress/categories/30-Religion" title="">Religion</a></li>
          <li class="category_27"><a href="/progress/categories/27-Wonder" title="">Wonder</a></li>
        </ul>
      </li>
      <li class="category_41">
        <a href="/progress/categories/41-News" title="News">News</a>
        <ul>
          <li class="category_36">
            <a href="/progress/categories/36-Activities" title="">Activities</a>
            <ul>
              <li class="category_37"><a href="/progress/categories/37-Web-Activities" title="">Web Activities</a></li>
            </ul>
          </li>
          <li class="category_26"><a href="/progress/categories/26-EV" title="">EV</a></li>
          <li class="category_32">
            <a href="/progress/categories/32-Family" title="">Family</a>
            <ul>
              <li class="category_33"><a href="/progress/categories/33-Eri" title="">Eri</a></li>
              <li class="category_35"><a href="/progress/categories/35-Nathan" title="">Nathan</a></li>
              <li class="category_34"><a href="/progress/categories/34-Tatiana" title="">Tatiana</a></li>
            </ul>
          </li>
          <li class="category_44"><a href="/progress/categories/44-Programming" title="">Programming</a></li>
        </ul>
      </li>
      <li class="category_42"><a href="/progress/categories/42-Submissions" title="Articles submitted by users">Submissions</a></li>
    </ul>
  </li>
  <li class="category_39">
    <a href="/progress/categories/39-Method" title="Actual stuff on this website">Method</a>
    <ul>
      <li class="category_47"><a href="/progress/categories/47-Art" title="My So-Called Artwork">Art</a></li>
      <li class="category_40"><a href="/progress/categories/40-EV-Conversion-Diary" title="Judebert's EV Conversion Diary">EV Conversion Diary</a></li>
      <li class="category_46"><a href="/progress/categories/46-Gallery-of-Wasted-Potential" title="Other Wasted Youths">Gallery of Wasted Potential</a></li>
      <li class="category_48"><a href="/progress/categories/48-Humor" title="">Humor</a></li>
      <li class="category_19">
        <a href="/progress/categories/19-Programs" title="">Programs</a>
        <ul>
          <li class="category_23">
            <a href="/progress/categories/23-Java" title="">Java</a>
            <ul>
              <li class="category_25"><a href="/progress/categories/25-Christmas-Roundup" title="">Christmas Roundup</a></li>
              <li class="category_24"><a href="/progress/categories/24-Pawns" title="">Pawns</a></li>
            </ul>
          </li>
          <li class="category_20">
            <a href="/progress/categories/20-Palm" title="">Palm</a>
            <ul>
              <li class="category_21"><a href="/progress/categories/21-Contraction-Timer" title="">Contraction Timer</a></li>
              <li class="category_22"><a href="/progress/categories/22-Roshambo" title="">Roshambo</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category_31"><a href="/progress/categories/31-Stories" title="">Stories</a></li>
      <li class="category_49"><a href="/progress/categories/49-The-Attic" title="Stuff with no other place to go">The Attic</a></li>
      <li class="category_45"><a href="/progress/categories/45-Tutorials" title="HOW-TOs, Primers">Tutorials</a></li>
    </ul>
  </li>
</ul>
