<ul id="categories-list">
  <li class="category_38">
    <a href="/progress/category/madness" title="Sound bites and full-length rants">Madness</a>
    <ul>
      <li class="category_43">
        <a href="/progress/category/lunatic-ravings" title="Rants">Lunatic Ravings</a>
        <ul>
          <li class="category_28"><a href="/progress/category/civilization" title="">Civilization</a></li>
          <li class="category_29"><a href="/progress/category/politics" title="">Politics</a></li>
          <li class="category_30"><a href="/progress/category/religion" title="">Religion</a></li>
          <li class="category_27"><a href="/progress/category/wonder" title="">Wonder</a></li>
        </ul>
      </li>
      <li class="category_41">
        <a href="/progress/category/news" title="News">News</a>
        <ul>
          <li class="category_36">
            <a href="/progress/category/activities" title="">Activities</a>
            <ul>
              <li class="category_37"><a href="/progress/category/web-activities" title="">Web Activities</a></li>
            </ul>
          </li>
          <li class="category_26"><a href="/progress/category/ev" title="">EV</a></li>
          <li class="category_32">
            <a href="/progress/category/family" title="">Family</a>
            <ul>
              <li class="category_33"><a href="/progress/category/eri" title="">Eri</a></li>
              <li class="category_35"><a href="/progress/category/nathan" title="">Nathan</a></li>
              <li class="category_34"><a href="/progress/category/tatiana" title="">Tatiana</a></li>
            </ul>
          </li>
          <li class="category_44"><a href="/progress/category/programming" title="">Programming</a></li>
        </ul>
      </li>
      <li class="category_42"><a href="/progress/category/submissions" title="Articles submitted by users">Submissions</a></li>
    </ul>
  </li>
  <li class="category_39">
    <a href="/progress/category/method" title="Actual stuff on this website">Method</a>
    <ul>
      <li class="category_47"><a href="/progress/category/art" title="My So-Called Artwork">Art</a></li>
      <li class="category_40"><a href="/progress/category/eV-conversion-diary" title="Judebert's EV Conversion Diary">EV Conversion Diary</a></li>
      <li class="category_46"><a href="/progress/category/gallery-of-wasted-potential" title="Other Wasted Youths">Gallery of Wasted Potential</a></li>
      <li class="category_48"><a href="/progress/category/humor" title="">Humor</a></li>
      <li class="category_19">
        <a href="/progress/category/programs" title="">Programs</a>
        <ul>
          <li class="category_23">
            <a href="/progress/category/java" title="">Java</a>
            <ul>
              <li class="category_25"><a href="/progress/category/christmas-roundup" title="">Christmas Roundup</a></li>
              <li class="category_24"><a href="/progress/category/pawns" title="">Pawns</a></li>
            </ul>
          </li>
          <li class="category_20">
            <a href="/progress/category/palm" title="">Palm</a>
            <ul>
              <li class="category_21"><a href="/progress/category/contraction-Timer" title="">Contraction Timer</a></li>
              <li class="category_22"><a href="/progress/category/roshambo" title="">Roshambo</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category_31"><a href="/progress/category/stories" title="">Stories</a></li>
      <li class="category_49"><a href="/progress/category/the-attic" title="Stuff with no other place to go">The Attic</a></li>
      <li class="category_45"><a href="/progress/category/tutorials" title="HOW-TOs, Primers">Tutorials</a></li>
    </ul>
  </li>
</ul>
