<aside class="sidebar-right" role="complementary">

  <div class="wrapper">

    <div class="sidebar">
      <div class="sidebar-item">
        <h4 class="sidebar-item-title">Archives</h4>
        <div class="sidebar-item-content">Hard to generate a calendar... months will have to do.</div>
        <div class="sidebar-item-footer"></div>
      </div>
      <div class="sidebar-item">
        <h4 class="sidebar-item-title">Entries by Tag</h4>
        <div class="sidebar-item-content">
          <ul>
            <li>"Unordered" list?</li>
            <li> Tag cloud?</li>
          </ul>
        </div>
        <div class="sidebar-item-footer"></div>
      </div>
      <div class="sidebar-item">
        <h4 class="sidebar-item-title">Categories</h4>
        <div class="sidebar-item-content">
          <ul>
            <li>Nested lists</li>
          </ul>
        </div>
        <div class="sidebar-item-footer"></div>
      </div>
      <div class="sidebar-item">
        <h4 class="sidebar-item-title">Syndication</h4>
        <div class="sidebar-item-content">RSS link</div>
        <div class="sidebar-item-footer"></div>
      </div>
    </div>

  </div>
</aside>
