<aside class="sidebar-right">

  <div class="wrapper">

    <div class="sidebar">
      <div id="sidebar-archives" class="sidebar-item">
        <h4 class="sidebar-item-title">Archives</h4>
        <div class="sidebar-item-content">
          {%- include archive_list.html -%}
        </div>
        <div class="sidebar-item-footer"></div>
      </div>
      <div class="sidebar-item">
        <h4 class="sidebar-item-title">Entries by Tag</h4>
        <div class="sidebar-item-content">
          {%- include tag_cloud.html -%}
        </div>
        <div class="sidebar-item-footer"></div>
      </div>
      <div class="sidebar-item">
        <h4 class="sidebar-item-title">Categories</h4>
        <div class="sidebar-item-content">
          {%- include category_list.html -%}
        </div>
        <div class="sidebar-item-footer"></div>
      </div>
      <div class="sidebar-item">
        <h4 class="sidebar-item-title">Syndication</h4>
        <div class="sidebar-item-content">
          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
        </div>
        <div class="sidebar-item-footer"></div>
      </div>
    </div>

  </div>
</aside>
