---
---

@import "{{ site.theme }}";

/* Overrides come after the site theme import. */
$color-text: #666666;
$color-text-bg: #FFFFFF;

/*
  Colors derived from palleton.com triad scheme based on #479AC6. Images
  must be updated accordingly.
*/
$theme-base-lightest: #9DD0EB;
$theme-base-lighter: #6CB3D9;
$theme-base: #479AC6;
$theme-base-darker: #2983B3;
$theme-base-darkest: #08699D;

$theme-complement-lightest: #FFE7A6;
$theme-complement-lighter: #FFDA78;
$theme-complement: #FFD052;
$theme-complement-darker: #FFC62F;
$theme-complement-darkest: #F8B500;

$theme-contrast-lightest: #FFBAA6;
$theme-contrast-lighter: #FF9678;
$theme-contrast: #FF7952;
$theme-contrast-darker: #FF5E2F;
$theme-contrast-darkest: #F83800;

// Override some ugly stuff
.wrapper {
  max-width: 100%;
  padding: 0;
}

.site-header .site-nav .page-link:not(:last-child) {
  margin-right: 0;
}

/* Criterion */

body {
  background: $color-text-bg url(criterion/img/criterion_body.png) repeat-x;
  font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: $color-text;
  display: grid;
  grid-template-columns: [left-side] 25% [center-side] auto [right-side] 25% [end-side];
  /* grid-template-rows: [header-row] 10% [center-row] auto [footer-row] 10% [end-row]; */
  grid-template-areas:
    "header header header"
    "content content sidebar-right"
    "footer footer footer";
  grid-gap: 10px;
  gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
}

header,
main,
footer {
    width: 95%;
    margin: 0 auto;
}

.site-header {
  grid-area: header;
  border: none;
}

.page-content {
  grid-area: content;
  padding: 10px 0;
}

.sidebar-right {
  grid-area: sidebar-right;
  padding: 10px 0;
}

.site-footer {
  grid-area: footer;
  border: none;
  background: url(criterion/img/criterion_pagefooter.png) repeat-x;
  clear: both;
  margin: 0 auto;
  font-size: 90%;
  padding: 10px 0 30px 0;
  width: 100%;
}

.site-nav .page-link {
  color: $theme-base;
}

.site-footer .site-nav {
  margin: 0 auto;
  float: none;
  line-height: 1.5em;
}

.site-footer .trigger {
  margin: 0 auto;
  text-align: center;
}

.site-footer .page-link {
  padding: 0 5px;
}

.credit-line {
  padding: 0 5px 5px 5px;
}

a {
  color: $theme-base;
}

a:visited {
  color: $theme-base-darker;
}

a:hover {
  text-decoration: none;
  color: $theme-base;
}

.site-title,
.wrapper .site-title,
header .wrapper .site-title {
  color: $theme-base-darker;
  text-transform: lowercase;
  text-decoration: none;
  font-style: italic;
  font-size: 1.5em;
}

.site-header nav {
    margin: 0 auto;
    padding: 0;
    padding-top: 25px;
}

.site-header nav .trigger .page-link.currentpage {
    height: 36px;
    margin-top: -4px;
    background: $theme-base-lighter url(criterion/img/criterion_tabactive.png) repeat-x;
    border: 1px solid $theme-base-darker;
    border-bottom: none;
    font-weight: bold;
    color: $theme-base;
}

.site-header nav .trigger .page-link {
  display: block;
  float: left;
  height: 32px;
  margin: 0;
  margin-left: 1px;
  padding: 13px 25px 0 25px;
  background: $color-text-bg url(criterion/img/criterion_tab.png) repeat-x;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: $theme-base;
}

.site-header nav .trigger .page-link:hover {
  background-image: url(criterion/img/criterion_tabhover.png);
  border-color: $theme-complement-lighter;
  color: $theme-contrast;
}

.post-list > li {
  clear: both;
}

.post-date {
  color: $theme-base-darkest;
  font-size: 1.2em;
  font-weight: bold;
}

.post-title {
  text-decoration: none;
  font-size: 1.4em;
}

.post-entry {
  padding: 20px 20px 10px 20px;
  background: url(../assets/criterion/img/criterion_entry.png) repeat-x;
  line-height: 150%;
}

.figure-left {
  float: left;
}

.figure-right {
  float: right;
}

.figure-center,
.figure-left,
.figure-right {
  border: 1px solid #ddd;
  background-color: #efefef;
  padding: 0;
  text-align: center;
  margin: 0 10px 5px 0;
}

figcaption {
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 1%;
  clear: both;
  font-size: 80%;
  text-align: center;
}

.sidebar-item {
  margin-bottom: 20px;
}

.sidebar-item-title {
  height: 31px;
  background: $theme-complement url(criterion/img/criterion_sbtitle.png) repeat-x;
  font-size: 1.2em;
  color: $theme-contrast;
  text-align: center;
  padding-top: 9px;
  margin: 0;
}

.sidebar-item-content {
  padding: 20px 20px 40px 20px;
  background: url(criterion/img/criterion_sbcontent.png) repeat-x;
}

.sidebar-item-content #categories-list ul {
  list-style: none;
  margin-left: 10px;
}

.sidebar-item-content #categories-list li {
  list-style: none;
  margin-left: 10px;
}

.post-header {
  margin: 20px auto;
  width: 100%;
}

.post-content {
  line-height: 150%;
}

a#extended {
  width: 100%;
  height: 100px;
  margin: 10px 0 -80px 0;
  display: block;
  clear: both;
  background: $theme-base-lightest url(criterion/img/criterion_entry.png) repeat-x;
}

.post-footer {
  background: $color-text-bg url(criterion/img/criterion_pagefooter.png) repeat-x;
}

.post-footer nav {
  padding-top: 10px;
  margin: 10px;
}

.post-footer .related-title {
  text-transform: uppercase;
}

.post-footer .related-prev {
  margin-right: 1em;
}

.post-footer .related-all {
  font-style: italic;
}

.post-footer .related-next {
  margin-left: 1em;
}
