---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-meta">
      <h3 class="post-title p-name" itemprop="name headline">
        <a class="post-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
      </h3>
      <time class="dt-published post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-footer">
    {%- assign trackbacks = 0 -%}
    {%- assign humanComments = 0 -%}
    {%- if page.comments and page.comments.size > 0 -%}
    {%- for comment in page.comments -%}
      {%- if comment.author_url contains "judebert.com" and
             comment.author_url contains "/progress/" and
             comment.author_url contains ".html" -%}
        {%- assign trackbacks = trackbacks | plus: 1 -%}
      {%- else -%}
        {%- assign humanComments = humanComments | plus: 1 -%}
      {%- endif -%}
    {%- endfor -%}
    {%- endif -%}

    <div class="post-comments">
      <div><a id="comments">&nbsp;</a></div>
    {%- if humanComments > 0 -%}
      Legacy comments:
    {%- endif -%}
    {%- for comment in page.comments -%}
      {%- if comment.author_url contains "judebert.com" and
             comment.author_url contains "/progress/" and
             comment.author_url contains ".html" -%}
        <!-- Trackback filtered -->
      {%- else -%}
      <div class="comment">
        <div class="author">
          {%- if comment.author_url and comment.author_url != '' -%}
          <a href="{{comment.author_url}}">{{ comment.author }}</a>
          {%- else -%}
          {{ comment.author }}
          {%- endif -%}
        </div>
        <div class="comment-content">{{ comment.content }}</div>
      </div>
      {%- endif -%}
    {%- endfor -%}

    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}
    </div>

    <div>Related posts:</div>
    <nav class="trackbacks">
      <div class="related-title">
          Related by Mention
      </div>
      {%- if trackbacks == 0 -%}
        Not mentioned in other posts.
      {%- else -%}
        <ul class="comment trackback">
        {%- for comment in page.comments -%}
          {%- if comment.author_url contains "judebert.com" and
                 comment.author_url contains "/progress/" and
                 comment.author_url contains ".html" -%}
          <li><a href="{{ comment.author_url }}">{{ comment.author_url }}</a></li>
          {%- endif -%}
        {%- endfor -%}
        </ul>
      {%- endif -%}
    </nav>

    <nav class="post-categories">
      <div class="related-title">
        Related by Categories
      </div>
      {%- if page.categories == false or page.categories.size == 0 -%}
        No posts in related categories.
      {%- else -%}
        {%- for cat in page.categories -%}
          {%- assign prevpost = nil -%}
          {%- assign nextpost = nil -%}
          {%- for post in site.categories[cat] -%}
            {%- if post.url == page.url -%}
              {%- if forloop.last == false -%}
                {%- assign nextpost = site.categories[cat][forloop.index] -%}
                {%- break -%}
              {%- endif -%}
            {%- else -%}
              {%- assign prevpost = post -%}
            {%- endif -%}
          {%- endfor -%}
      <div class="related-links">
          {%- assign slug = cat | slugify -%}
          {%- assign cat_url = "/progress/category/" | append: slug -%}
          {%- if prevpost -%}
        <a class="related-prev" href="{{ prevpost.url | relative }}">&larr; {{ prevpost.title }}</a>
          {%- else -%}
        <span class="related-prev no-post">&larrb; This is the first post</span>
          {%- endif -%}
         &bull; <a class="related-all" href="{{ cat_url }}">All {{ site.categories[cat] | size }} in {{ cat }}</a> &bull; 
          {%- if nextpost -%}
        <a class="related-next" href="{{ nextpost.url | relative }}">{{ nextpost.title }} &rarr;</a>
          {%- else -%}
        <span class="related-next no-link">This is the last post &rarrb;</span>
          {%- endif -%}
      </div>
        {%- endfor -%}
      {%- endif -%}
    </nav>

    <nav class="post-tags">
      <div class="related-title">
        Related by Tags
      </div>
      {%- if page.tags == false or page.tags.size == 0 -%}
        No posts with related tags.
      {%- else -%}
        {%- for tag in page.tags -%}
          {%- assign prevpost = nil -%}
          {%- assign nextpost = nil -%}
          {%- for post in site.tags[tag] -%}
            {%- if post.url == page.url -%}
              {%- if forloop.last == false -%}
                {%- assign nextpost = site.tags[tag][forloop.index] -%}
                {%- break -%}
              {%- endif -%}
            {%- else -%}
              {%- assign prevpost = post -%}
            {%- endif -%}
          {%- endfor -%}
      <div class="related">
          {%- assign slug = tag | slugify -%}
          {%- assign tag_url = "/progress/tag/" | append: slug -%}
          {%- if prevpost -%}
        <a class="related-prev" href="{{ prevpost.url | relative }}">&larr; {{ prevpost.title }}</a>
          {%- else -%}
        <span class="related-prev no-post">&larrb; This is the first post</span>
          {%- endif -%}
         &bull; <a class="related-all" href="{{ tag_url }}">All {{ site.tags[tag] | size }} in {{ tag }}</a> &bull; 
          {%- if nextpost -%}
        <a class="related-next" href="{{ nextpost.url | relative }}">{{ nextpost.title }} &rarr;</a>
          {%- else -%}
        <span class="related-next no-link">This is the last post &rarrb;</span>
          {%- endif -%}
      </div>
        {%- endfor -%}
      {%- endif -%}
    </nav>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
