:root {
    --color-background: #282c34;
    --color-active: #484c54;
    --color-highlight: #585cd4;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

@media (orientation: landscape) {
  .App-header {
      width: calc(95vmax - 100vmin);
  }
}

@media (orientation: portrait) {
  .App-header {
      height: calc(95vmax - 100vmin);
  }
}

.App-content {
}
