.Cell {
    -webkit-appearance: none;
    padding: 0;
    font-size: 100%;
    background-size: 100%;
}

.Cell-step-0 {
    background-position: 0 0;
}

.Cell-step-1 {
    background-position: 0 -100%;
}

.Cell-step-2 {
    background-position: 0 -200%;
}

.Cell-step-3 {
    background-position: 0 -300%;
}

.Cell-step-4 {
    background-position: 0 -400%;
}

.icons-ringer-emojis {
    background-image: url("/public/ringer-emojis.png");
}

.icons-ringer-monochrome {
    background-image: url("/public/ringer-monochrome.png");
}
